# package directories
src/aws-ofs-verticals-microservice/node_modules
src/aws-ofs-freelancing-microservice/node_modules
src/aws-ofs-status-microservice/node_modules
src/aws-ofs-cognito-setup/node_modules
src/react-ofs-frontend/node_modules

# Serverless directories
.serverless
src/aws-ofs-verticals-microservice/.serverless
src/aws-ofs-freelancing-microservice/.serverless
src/aws-ofs-status-microservice/.serverless
src/aws-ofs-cognito-setup/.serverless

#IntegrationTests with python
src/IntegrationTest/__pycache__
src/IntegrationTest/.pytest_cache
src/IntegrationTest/env

IAMCred.txt